<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, height=auto, initial-scale=1.0" /> 
    <title>Choose your Boss</title>
    <link rel="shortcut icon" th:href="@{/assets/images/web-icon.png}"  type="image/x-icon">
    <link rel="stylesheet" th:href="@{/assets/css/builder.css}" />
    <link rel="stylesheet" th:href="@{/assets/themify-icons/themify-icons.css}" />
  </head>
  <body>
    <div id="header">
      <div class="info">
        <div class="social-media">
          <i class="ti-facebook"></i>
          <i class="ti-instagram"></i>
          <i class="ti-youtube"></i>
        </div>
        <div class="contact">
          <i class="ti-email"></i>
          <p>chooseyourboss@gmail.com</p>
          <i class="ti-mobile"></i>
          <p>12345678</p>
        </div>
      </div>
      <div class="nav-icon">
        <a th:href="@{/}"><img th:src="@{/assets/images/header-nav.png}" /></a>
      </div>
      <ul id="nav">
        <li><a th:href="@{'/' + '#about'}">About</a></li>
        <li><a th:href="@{'/' + '#category'}">Category</a></li>
        <li><a th:href="@{/pets}">Pets</a></li>
        <li><a th:href="@{/chat}">Chat</a></li>
        <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a></li>
        <li sec:authorize="isAuthenticated()">
          <i class="ti-user"></i>
          <ul class="sub-nav">
            <h3 th:text="${currentUser.name}"></h3>
            <li>
              <a th:href="@{${currentUser.id == 1} ? '/users' : '/user/' + ${currentUser.id}}">
                <i class="fa-solid fa-user"></i> Profile
              </a>
            </li>
            <li><a th:href="@{/logout}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="header-space"></div>
    <div id="home">
    <div id="category-breeds" >
        <input type="text" id="searchInput" onkeyup="searchByBreed()" placeholder="Search for breeds.." title="Type in a breed" style="top: 130px;">
        <ul th:if="${dogs != null}" id="dogList">
            <li th:each="dog: ${dogs}">
                <a th:href="@{/dog/{name}(name=${dog.name})}">
              	    <img th:src="@{'/assets/images/dogs/' + ${dog.link} + '.jpg'}" >
                    <h2 th:text="${dog.name}"></h2>
                    <p th:text="${dog.description}"></p>
                    
                </a>
            </li>
        </ul>
        <ul th:if="${cats != null}" id="dogList">
            <li th:each="cat: ${cats}">
                <a th:href="@{/cat/{name}(name=${cat.name})}">
                	<img th:src="@{'/assets/images/cats/' + ${cat.link} + '.jpg'}" >
                    <h2 th:text="${cat.name}"></h2>
                    <p th:text="${cat.description}"></p>
                    
                </a>
            </li>
        </ul>
    </div>
	</div>



    <footer>
      <div id="footer">
        <img th:src="@{/assets/images/footer-img.png}" alt="">
        <div class="footer-content"></div>
      </div>
    </footer>
  
  
  
  
  
  
  
  
  
      <button
        onclick="topFunction()" id="backtoheader" class="ti-arrow-circle-up">
      </button>
    </body>
  
  
  
  
    <script src="https://kit.fontawesome.com/cfbcbc4299.js" crossorigin="anonymous"></script>
    <script th:src="@{/assets/script/script.js}"></script>
  </html>
  